  <!--
  <div class="col-4">
    Masukkan Nomor Invoice:
  </div>
  <div class="col-8 input-group mb-2">
    <input type="search" placeholder="What're you searching for?" aria-describedby="button-addon5" class="form-control">
    <div class="input-group-append">
      <button id="button-addon5" type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
    </div>
  </div>
-->
<div class="container">
<br><br><br>

<div class="input-group">
  <input type="text" class="form-control" [(ngModel)]="id" placeholder="Masukkan ID Invoice">
  <div class="input-group-append">
    <button class="btn btn-secondary" type="button" (click)="openDialog()">
      <i class="fa fa-barcode"></i>
    </button>
    <button class="btn btn-secondary" type="button" (click)="cari()">
      <i class="fa fa-search"></i>
    </button>
  </div>
</div>

<table class="table table-hover" *ngIf="closing; else noItems">
    <thead>
      <tr>
        <th scope="col">CS</th>
        <th scope="col">Penerima</th>
        <th scope="col">Barang</th>
        <th scope="col">Total Mutasi</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{ closing.cs }}</th>
        <td>{{ closing.penerima }}</td>
        <td>{{ closing.listBarang.length }} Pcs</td>
        <td>Rp.{{ [(closing.listBarang | pluck:'harga' | sum), closing.ongkir*closing.berat, closing.diskon, closing.deposit] | sum | number }}</td>
        <td>
          <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ closing.status }} | <span *ngIf="closing.status=='Dikirim'">{{ closing.tglDikirim }}</span>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" (click)="gantiStatus(id,'Cek Mutasi')">Cek Mutasi</a>
                <a class="dropdown-item" (click)="gantiStatus(id,'Dibayar')">Dibayar</a>
                <a class="dropdown-item" (click)="gantiStatus(id,'Diprint')">Diprint</a>
                <a class="dropdown-item" (click)="gantiStatus(id,'Dikirim')">Dikirim</a>
                <a class="dropdown-item" (click)="gantiStatus(id,'Resi')">Resi</a>
                <a class="dropdown-item bg-danger" (click)="hapus(closing)">HAPUS</a>
              </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noItems>
  <br><br>
  <h5 class="text-center">Invoice tidak ditemukan</h5>
</ng-template>
