.mat-sort-header-container {
  align-items: center;
}

.button-row {
  position: absolute;
  right: 10px;
}

table tr td {
  padding: 0 10px;
  border: solid 1px darkgrey;
}
table tr th {
  padding: 0 10px;
  border: solid 1px;
  background-color: #3f51b5;
  color: white;
}

.mat-sort-header-arrow {
  color: white !important;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  visibility: hidden;
}
