<nav class="navbar fixed-top navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Data Closing</a>
      <ul class="nav navbar-nav">
        <li><a href="#" (click)="print=true"><span class="glyphicon glyphicon-tag"></span> Label & Invoice</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" (click)="print=false"><span class="glyphicon glyphicon-user"></span> Edit Data</a></li>
      </ul>
  </nav>
<app-label *ngIf="print"></app-label>
<app-invoice *ngIf="!print"></app-invoice>

<router-outlet></router-outlet>
